<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SLCT</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.typekit.net/your-kit-id.css">

</head>
<body>
    <!-- 
    <div class="home-page" style="background-image: url('img5.png');">
        <div class="content">
            <h1>SLCT - Sign Language Classification and Translation</h1>
        </div>
    </div> -->

    <div id="mySidenav" class="sidenav">
        <a href="#home" id="home-sec"> Home </a>
        <a href="#about" id="about-sec"> About Us </a>
        <a href="#contact" id="contacts-sec"> Contacts </a>
    </div>

    <div class="sec-div-home">
        <section id="home">
            <div class="home-page">
                <div class="image-container">
                    <img src="img5.png" alt="Background Image">
                </div>
                <div class="blue-bg">
                    <!-- This the blue background color-->
                </div>
                <div class="content">
                    <div class="image-right">
                        <img id="img1" src="img11.png" alt="Image 1">
                        <img id="img2" src="img33.png" alt="Image 2">
                        <img id="img3" src="img11.png" alt="Image 3">
                        
                    </div>
                    <div  class="text-content">
                        <h1>SLCT - Sign Language Classification and Translation</h1>
                    </div>
                    <div class="home-tagline">
                        <span>
                            Empowering the Deaf Community with Sign Language Solutions
                        </span>
                    </div>
                    
                </div>
            </div>
        </section>

        <section id="about">

        </section>

        <section id="contact">

        </section>

    </div>
    
    

</body>
</html>
